<div class="innerbody">

  <div class="jumbotron innerbody">
    <h1>Classes & Groups</h1>
  </div>

<% @categories.each do |category| %>
  <div class="course">
    <div class="row">
      <div>
      <img class="col-md-5" class="list_photo" src="<%#= category.image %>http://ohanaparents.com/wp-content/uploads/2013/01/9-Ohana-Childbirth-Class-6-300x210.jpg">
      </div>
    <div class="description">
    <h2><%= category.name.capitalize %></h2>
    <p><%= category.description %></p>
    </div>
    <div>
      <h3 class="pink">Available Dates</h3>
      <%#= form_tag(new_user_url) do %>
      <p><%= select_tag :course_id, options_from_collection_for_select(category.courses, :id, :course_date_time)%>
    </div>
    <div>
      <button type="button" class="btn_orange btn-lg">Enroll Now</button>
      <%#= submit_tag "Enroll Now", class: 'btn_orange btn-lg' %>
    </div>
  <%# end %>
  <% end %>

